@import '../../../../styles/colors.module.scss';

.imgPresentation {
  width: 550px;
}

.subTitle {
  font-size: 18px;
  font-weight: bold;
  color: $lightRed;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
}

.description {
  font-size: 20px;
  color: $lightGray;
  margin: 20px 0px 40px 0px;
}

.linkCta {
  text-decoration: none;
}

.btnCta {
  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
  gap: 25px;

  padding: 14px 30px;
  border: 2px solid $lightRed;

  &:hover {
    border-color: $darkRed;
    color: $lightGray;
    background-color: transparent;
  }

  .btnImg {
    width: 11px;
  }
}

// AULA Criando seção de apresentação - Parte 2 MIN 2:53